*{margin:0; padding: 0};
body,div{
	box-sizing: border-box;
}
.indent_main{
	width: 100%;

	.con{
		width: 1206px;
		margin:30px auto;
		border: 1px solid #ccc;
		min-height: 500px;
		
		.title{
			font-size: 15px;
			width: 1205px;
			height: 50px;
			line-height: 50px;
			background: #ccc;
			color: #333333;
		}

		.message{
			width: 1208px;
			height: 350px;

			.person_msg{
				width: 1206px;
				height: 300px;
				border: 2px solid red;
				padding-left: 20px;
				
				input{
					width: 146px;
					height: 23px;
					border-style: 1px solid #ccc;
					margin-top: 10px;
				}
				.address{
					width: 300px;
				}
				.btn{
					width: 75px;
					height: 26px;
					border-radius: 5px;
					background: red;
					color: white;
					border: none;
					margin-left: 50px;
				}
			}
		}

		.mode{
			padding-left: 20px;
			border-bottom: 1px solid #ccc; 
			padding-bottom: 20px;
			margin-top: 10px;

			input{
				margin-top: 20px;
			}
		}

		.prod_indent{
			width: 1206px;
			min-height:50px;
			margin: 0 auto;
			margin-top: 70px;

			.top{
				width: 1206px;
				height: 50px;
				line-height: 50px;
				padding: 0 10px;

				span{
					font-size: 18px;
					font-weight: 600;
				}
			}
			.order_prod{
				
				img{
					width: 50px;
				}
			}
		}
	}
}